@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
.App {
  height: 120vh;
  display:flex;
  background-image: url("./301942-green-blue-simple.jpg");
  background-size: cover;
  background-position: center;
  color:black
}

